#posi {
    width: auto;
    height: auto;
    padding-left: 200px;
    padding-right: 200px;
    color:white;
    text-align: center;
    font-size: 50px;
}
.cover {
    background-image: url(i.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    overflow: hidden;
}
.button{
    font-size: 25px;
    background-color:rgb(255, 166, 0);
    color: white;
    border-radius:8px;
    border: 2px solid rgb(255, 166, 0);
    font-weight: 700;
    list-style: none;
}